.header {
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    color: #505160;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .actions {
        align-items: center;
        margin-right: 20px;
        display: flex;

        .home {
            cursor: pointer;
        }

        .setting {
            margin-left: 10px;
            cursor: pointer;
        }
    }

    .back {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 56px;
        background-image: url('../../../assets/images/icon-back.png');
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .secure-dark-back, .secure-light-back {
        background-image: url('../../../assets/images/icon-back-white.png') !important;
    }

    .secure-dark-titleContainer, .secure-light-titleContainer {
        color: #fff !important;
    }
}

.titleContainer {
    text-align: center;
    color: #EF6245;
    font-size: 18px;
    margin: 16px 0;
    font-weight: 600;
    width: 100%;
}
