.tokens {
    flex: 1 1;
    padding: 10px 10px 10px 14px;

    .item-create-token {
        cursor: pointer;
        height: 82px;
        display: flex;
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
        background-color: #fff;
        border-radius: 4px;
        flex-direction: column;
        align-items: center;
        margin-top: 8px;
        transition: all .2s ease-in-out;

        img {
            height: 45px;
            margin-top: 10px;
        }

        .content {
            margin-left: 8px;
            flex: 1 1;
            display: flex;
            flex-direction: row;
            overflow: hidden;

            .title-add-token {
                flex-direction: row;
                align-items: center;
                font-size: 14px;
                margin-top: 5px;
                color: #EF6245;
            }
        }
    }

    .easy-dark-item {
        background: #3D3D3D !important;
    }

    .item {
        cursor: pointer;
        height: 82px;
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 8px;
        transition: all .2s ease-in-out;

        img {
            height: 50px;
        }

        .content {
            margin-left: 8px;
            flex: 1 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .title.isHot {
                justify-content: flex-start;
            }

            .title {
                flex-direction: row;
                align-items: center;
                height: 26px;
                font-size: 18px;
                color: #787878;
                text-align: right;
                font-weight: bold;
            }

            .desc {
                height: 20px;
                line-height: 26px;
                font-size: 20px;
                color: #787878;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: right;
                font-weight: bold;
            }
        }
    }

    .item:first-child {
        margin-top: 0;
    }


}
