.accounts {
    flex: 1 1;
    padding: 10px 10px 10px 14px;

    .easy-dark-item {
        background: #3D3D3D !important;
    }

    .item-create {
        cursor: pointer;
        height: 68px;
        display: flex;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 8px;
        transition: all .2s ease-in-out;
        justify-content: space-between;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);

        .create-account {
            text-align: center;
        }

        .import-account {
            text-align: center;
        }

        img {
            height: 30px;
            margin-top: 10px;
        }

        .content {
            margin-left: 8px;
            flex: 1 1;
            display: flex;
            flex-direction: row;
            overflow: hidden;

            .title {
                flex-direction: row;
                align-items: center;
                font-size: 14px;
                color: #EF6245;
            }
        }
    }

    .item:hover {
        .action {
            display: flex;
        }
    }

    .item {
        cursor: pointer;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 8px;
        transition: all .2s ease-in-out;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);

        img {
            height: 50px;
        }

        .content {
            padding: 15px 0px;
            margin-left: 8px;
            flex: 1 1;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            justify-content: space-between;

            .title.isHot {
                justify-content: flex-start;
            }

            .title {
                flex-direction: row;
                align-items: center;
                font-size: 16px;
                color: #787878;
                font-weight: bold;
            }

            .desc {
                font-size: 16px;
                color: #787878;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: right;
                font-weight: bold;
            }
        }

        .action {
            display: none;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 15px;

            img {
                width: 18px;
                height: 100%;
                padding-left: 3px;
            }

            .button {
                border: 1px solid #EF6245;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                background: #fff;
                color: #EF6245;
                padding: 3px 8px;
                cursor: pointer;
                font-weight: bold;
                display: flex;
                flex-direction: row;
            }
        }
    }

    .item:first-child {
        margin-top: 0;
    }
}
