.tokens-select {
    flex: 1 1;
    padding: 10px 10px 10px 14px;

    .easy-dark-item {
        background: #3D3D3D !important;
    }

    .item {
        cursor: pointer;
        height: 50px;
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 11px;
        transition: all .2s ease-in-out;

        .img-logo {
            height: 35px;
        }

        .icon-tick {

        }

        .content {
            margin-left: 8px;
            flex: 1 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .title.isHot {
                justify-content: flex-start;
            }

            .title {
                flex-direction: row;
                align-items: center;
                height: 26px;
                font-size: 16px;
                color: #787878;
                text-align: right;
            }

            .desc {
                height: 20px;
                line-height: 26px;
                font-size: 20px;
                color: #787878;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: right;
                font-weight: bold;
            }
        }
    }

    .item:first-child {
        margin-top: 0;
    }


}
