.footer {
    height: 60px;
    margin: 0px auto;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #505160;
    width: 100%;
}

.titleContainer {
    color: #EF6245;
    font-size: 18px;
    margin: 16px 0;
    font-weight: 600;
}
